.info ion-label{
   white-space: normal!important;
   margin: 0;
}

.info h2{
    text-align: center;
    padding: 9px;
    margin: 0!important;
    background: #f0efc1;
}

.info ion-item{
    padding: 0!important;
    background: #fffce7;
}

.info .item-inner{
    padding: 0!important;
    border-bottom: 0px solid black!important;
}

.info .item p{
    padding: 0 24px 0 0!important;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner{
    height: 200px;
}

.redBackground{
    background: red!important;
}